<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{ leiloiro.id_leiloeiro }} - {{ leiloiro.nome }}

    <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        Nome <input type="text" name="nome" value="leiloeiro.nome">
        <br><br>
        CPF <input type="text" name="cpf" value="leiloeiro.cpf">
        <br><br>
        E-Mail <input type="text" name="email" value="leiloeiro.email">
        <br><br>
        Telefone <input type="text" name="telefone" value="leiloeiro.telefone">
        <br><br>
        Site <input type="text" name="site" value="leiloeiro.site">
        <br><br>
        Matrícula <input type="text" name="matricula" value="leiloeiro.numero_matricula">
        <br><br>
        <button type="submit">Cadastrar</button>
    </form>
    
</body>
</html>